
<footer class="text-dark bg-image";">
    <div class="container">
      <div class="row">
        <div class="col-4">
            <div class="pr-xl-5"><a class="brand" href="/"><img class="logo-ft brand-logo-light" src="/public/img/logo.png" alt=""></a>
            <!-- Copyrights-->
            <p><span>©</span><span class="copyright-year">2020</span><span> </span><span>Claudio Sapia</span><span>. </span><span>All Rights Reserved.</span></p>
          </div>
        </div>
        <div class="col-4">
            <p class="about-footer">Staycation is the best place to find interesting stories and reviews about destinations from all over the world. </p>
        </div>
        <div class="col-4">
          <ul class="link-list">
            <li><a href="#">About</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row ">
      <div class="col-3"><a href="#"><span src="/public/img/facebook-square-color.png"></span><span>Facebook</span></a></div>
      <div class="col-3"><a  href="#"><span class="icon mdi mdi-instagram"></span><span>instagram</span></a></div>
      <div class="col-3"><a  href="#"><span class="icon mdi mdi-twitter"></span><span>twitter</span></a></div>
      <div class="col-3"><a  href="#"><span class="icon mdi mdi-youtube-play"></span><span>google</span></a></div>
    </div>
  </footer>